services:
  app:
    environment:
      CONFIG_PATH: ${CONFIG_PATH}
      DB_HOST: db
    build:
      context: .
      dockerfile: Dockerfile.inventory-control
    depends_on:
      db:
        condition: service_healthy
      migrator:
        condition: service_completed_successfully
    ports:
      - "8080:8080"
  migrator:
    environment:
      CONFIG_PATH: ${CONFIG_PATH}
      DB_HOST: db
    build:
      context: .
      dockerfile: Dockerfile.migrator
    depends_on:
      db:
        condition: service_healthy
    restart: "no"
  db:
    image: postgres:latest
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - db:/var/lib/postgresql/data
volumes:
  db:

